.auth{
    @media screen and (max-width:700px){
        background: url('../../assets/wave.svg')no-repeat;
        background-position-x: max($numbers: 33.5%);
        background-position-y: bottom;
        height: 100vh;
        background-size: cover; 
        width:100vw;
        height:100vh;
        position: relative;
        top:0;
        left:0;
        transform: none;
    }
    form{
        width:30%;
        background: url('../../assets/wave.svg') no-repeat;
        background-size: max($numbers: 1000px);
        background-position-x: max($numbers: 85%);
        background-color:#333 ;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-flow:column;
        align-items: center;
        border-radius:10px;
        color:#333;
        @media screen and (max-width:1200px){
            width:50%;
        }
        @media screen and (max-width:700px){
            width:85%;
            top:70%;
            background: transparent;
        }        
        .tel{
            background:#555;
            padding-left:5px;
            margin: 2% 0;
            .PhoneInputInput{
                border:none;
                outline:none;
                padding: 5px 10px;
                background: lightgrey;
                color:#333;
            }
        }

        h1{
            font-family: 'Great Vibes', cursive;
            font-weight:lighter;
            margin:10px 0;
            color: white;
            @media screen and (max-width:700px){
                color:initial
            }
            i{ 
                font-size:50px; 
                color:whitesmoke;
                text-shadow: 0px -1px 3px lightgrey; 
                @media screen and (max-width:700px){
                    position: absolute;
                    top:-200%;
                    left:50%;
                    transform: translate(-50%,-500%)
                }
            }
          }

        .parent{
            background:none;
            display:grid;
            justify-items: center;
            padding:10px 0;
            width:100%;
            @media screen and (max-width:700px){
                background:transparent;
                position: absolute;
                top:0%;
                left:50%;
                transform: translate(-50%,-50%);
                z-index:1;
            }  
            #error{
                color:white;
                z-index:1;
                text-align:center;
                width:80%;
                i{ color: green }
                @media screen and (max-width:700px){
                    i{ color: green }
                    font-weight:bold;
                    color:#333;
                }
            }          
            button{
                outline: none;
                border:none;
                border-radius:3px;
                padding:5px 15px;
                background: whitesmoke;
                margin:4% 0;
                padding:10px 20px;
                font-size:18px;
                &:hover{
                    background:transparent;
                    color:white;
                    border:1px solid white;
                }
                @media screen and (max-width:700px){
                    background: #333;
                    color:white;
                    margin:8% 0;
                    padding:7px 15px;
                    &:hover{
                        background:transparent;
                        color:#333;
                        border:1px solid #333;
                    }
                }
            }
        }

        .input-field{
            background: rgba(245, 245, 245,0.9);
            display:flex;
            justify-content: center;
            align-items: center;
            margin:2% 0;
            padding:5px;
            border-radius: 5px;
            @media screen and (max-width:700px){
                background: lightgrey;
            }            
            i{ 
                flex:0.2;
                margin: 0 3px;
            }
            input{ 
                flex:0.8;
                background: transparent;
                border:none;
                outline:none;
                padding-left:10px; 
                color:#333;
            }
            select{
                background: transparent;
                border:none;
                outline:none;
                margin-left:3%;
            }
        }

        .inputer{
            display:flex;
            flex-flow:column;
            justify-content: center;
            align-items: center;
            justify-items: left;
        }
    }
}