.logout{
    position: absolute;
    left: 47%;
    top: 23%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    padding: 1px;
    border-radius: 30px;
    border:1px solid lightgrey;
    overflow: hidden;
    color:white;
    cursor: pointer;
    outline: none;
    @media screen and (max-width:700px) {
        left: 37%;
        top: 14%;
    }
    div{
        padding: 8px 10px;
        font-size: 15px;
        border-radius: 50%;
        @media screen and (max-width:700px) {
            padding: 5px 7px;
            border-radius: 48%;
        }
        i{ 
            color:red;
            &:hover{
                color: #333;
            }
         }
        &:first-child{
            background: whitesmoke;
        }
    }

}