.network{
    display: flex;
    width:16%;
    position: absolute;
    left: 42%;
    top: 20%;
    transform: translate(-50%,-50%);
    background:#333;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 3px 15px 0px #333;
    @media screen and (max-width:1300px) {
        width: 18%;
    }
    @media screen and (max-width:700px) {
        width: 60%;
        left: 20%;
        top:40%;
    }
    div{
        padding:10px;
        font-size: 20px;
        font-weight: bold;
        &:first-child{ color:orange;margin-left: 5%; }
        &:last-child{ color:white }
    }
}